{erl_opts, [debug_info]}.

%% NOTE: When possible deps are referenced by Git ref to ensure consistency between builds.
{deps, [ {aebytecode, {git, "https://github.com/aeternity/aebytecode.git",
                            {ref,"99bf097"}}},
        
        % waiting for https://github.com/jlouis/enacl/pull/40 to be merged
        {enacl, {git, "https://github.com/aeternity/enacl.git",
                {ref, "26180f4"}}}
       ]}.


{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, crypto, mnesia]}
           ]}.
