%% -*- mode: erlang; indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.

{deps, [ {aebytecode, {git, "https://github.com/aeternity/aebytecode.git",
                             {ref,"2369533"}}}
       , {getopt, "1.0.1"}
       , {jsx, {git, "https://github.com/talentdeficit/jsx.git",
                     {tag, "2.8.0"}}}
       ]}.

{escript_incl_apps, [aesophia, aebytecode, getopt]}.
{escript_main_app, aesophia}.
{escript_name, aesophia}.
{escript_emu_args, "%%! \n"}.
{provider_hooks, [{post, [{compile, escriptize}]}]}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/aesophia\" ./aesophia"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ aesophia* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, crypto, mnesia]}
           ]}.

{relx, [{release, {aesophia, "2.0.0"},
         [aesophia, aebytecode, getopt]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.
