{erl_opts, [debug_info]}.

%% NOTE: When possible deps are referenced by Git ref to ensure consistency between builds.
{deps, [ {aebytecode, {git, "https://github.com/aeternity/aebytecode.git",
                            {ref,"720510a"}}}
       ]}.

{profiles, [ {eqc, [{erl_opts, [{parse_transform, eqc_cover}]},
                    {deps, [{eqc_ci, "1.0.0"}]},
                    {extra_src_dirs, ["quickcheck"]}    %% May not be called eqc!
                   ]}
           ]}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, crypto, mnesia]}
           ]}.
